<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BB Mall| Dashboard</title>
    <link rel="stylesheet" href="../css/stylee.css">
</head>
<body>
    <h3>BB Mall</h3>
    <p>Providing safe and convenient way to Shop digitally</p>
    <hr>
    <h3>Add Product Page</h3>
    <p>Merchant ID: <span style="color: blue;"><%- mid %></span></p>
    <p>Merchant Username: <span style="color: blue;"><%- uname %></span></p>
    <hr>
    <a href="/dashboard">Dashboard</a>
    <a href="/addProduct">Add Product</a>
    <a href="/viewProduct">View Products</a>
    <a href="/logout">Click To Logout</a>

    <% if(message !== '') { %>
        <h5 style="color: blue;"><%- message %></h5>
    <%}%>
    <% if(error_msg !== '') { %>
        <h5 style="color: red;"><%- error_msg %></h5>
    <%}%>
    <form action="/addProduct" method="post" enctype="multipart/form-data">
        <p>Product Name: <input type="text" name="productName" id=""></p>
        <p>Product Description: <br> <textarea name="description" rows="7" cols="15"></textarea></p>
        <p>Product Price (₦): <input type="number" name="price" placeholder="₦"></p>

        <% let products =['Computer','Phone', 'Tablets', 'Printers', 'Accesories'] %>
        <p>Product Category: <select name="category">
                                <option value="">Select Product Category</option>
        <% products.forEach((prods)=> {%>
            <option value="<%-prods %>"><%- prods %></option>
        <%})%>
        </select></p>
        <p>Brand Manufactueer: <input type="text" name="brand" id=""></p>
        <p>Upload Picture : <input type="file" name="image" id=""></p>
        <button type="submit">Click To Add</button>
    </form>
</body>
</html>